#left-pane-login {
    background: url("../images/login_image.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.big-logo {
    height: 150px;
    width: 300px;
}
.header-logo {
    width: 200px;
}
.img-carousel {
    height: 100vh;
    background-size: cover;
    background: no-repeat;
}
body {
    font-size: 5px;
}
a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
}
.block {
    padding-left: 10px;
    padding-right: 10px;
}
.no-color {
    background-color: white !important;
}
